
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js">
</script>

<div id="bootstrapcdn_js">
  {% include js/javascript_bootstrapcdn.html %}
</div>

<div id="tracking">
  {% include js/tracking.html %}
</div>

<div id="twitter_platform">
  {% include js/javascript_twitter_platform.html %}
</div>

<div id="holder_js">
  {% include js/holder.html %}
</div>

{% include js/javascript_activism.html %}

<script type="text/javascript" src="/public/js/app.js"></script>


