<!-- Piwik -->
<script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik-ssl.ns1.net/" : "http://piwik.ns1.net/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
  try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 26);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
  } catch( err ) {}
</script><noscript><p><img src="http://piwik-ssl.ns1.net/piwik.php?idsite=26" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->


<script type=text/javascript" src=""></script>
<noscript>
  <img alt="Tracking Pixel" src="https://piwik-ssl.ns1.net/piwik.php?idSite=26&rec=1"/>
  <img alt="Tracking Pixel" src="https://piwik-ssl.ns1.net/piwik.php?idSite=27&rec=1"/>
</noscript>

<!--analyze mailto-->
<script>
  jQuery(document).ready(function($) {
    $('a[href^="mailto"]').click(function(){

      piwikTracker.setCustomVariable(1, "Share By Email",  'Email='+this.href.replace(/^mailto:/i,'') + ' /Page = ' +  location.href, "page");  piwikTracker.trackPageView();

    });
  });


</script>
<!--end analyze mailto-->



