
<!-- var $title = page.title || "HELP!" -->
<!-- <title><!-- {{page.title}} -->
<!-- $title </title> -->


<title>{{ page.title || "FIXME" }} | mh</title>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- <link rel="stylesheet" type="text/css" href="/public/css/reset.css" title="reset" />
  -->

<link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'/ >

  {% include bootstrapcdn.html %}

  <link rel="stylesheet" type="text/css" href="/public/css/theme1/theme.css" title="style1" />
  <link rel="alternate stylesheet" type="text/css" href="/public/css/theme2/theme.css" title="style2" />

  <link rel="stylesheet" type="text/css" href="http://px.variablesoftware.com/stylesheets/print.css" media="print" />

