<title>{{ page.title || "FIXME" }}</title>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

{% include bootstrapcdn.html %}

<link rel="stylesheet" type="text/css" href="/public/css/theme1/theme.css" title="style1" />
<link rel="alternate stylesheet" type="text/css" href="/public/css/theme2/theme.css" title="style2" />

<!-- var $title = page.title || "HELP!" -->
<!-- <title><!--{{page.title}}-->
<!-- $title </title> -->
