<nav class="navbar navbar-static-bottom center" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand">
      <a href="#" title="miniature hipster">mh</a>
    </div>
    <div id="menu">
      <ul class="nav navbar-nav nav-tabs">

        <li><a href="/#" title="Home">Home</a></li>
        <li><a href="/help/" title="Help">Help</a></li>
        <li><a href="/CONTRIBUTING.html" title="Contribute">Contributing</a></li>
        <li><a href="/LICENSE.txt" title="License">License / Copyright</a></li>
        <li><a href="/thanks/" title="Thank You!">Say Thanks</a></li>

      </ul>
    </div>
  </div>
</nav>

