<nav class="masthead nav nav-justified navbar navbar-static-bottom 1center" role="navigation">
  <div class="navbar-header">
    <div class="">
      <a class="navbar-brand text-muted" href="/#" title="miniature hipster">Miniature Hipster</a>
    </div>
    <div id="menu-nav-tabs" class="">
      <ul class="nav nav-justified 1navbar-nav nav-tabs">

        <li><a href="/#" title="Home">Home</a></li>
        <li><a href="/help/" title="Documentation">Docs</a></li>
        <li><a href="/CONTRIBUTING.html" title="Contributing">Contribute</a></li>
        <li><a href="/thanks/" title="Thank You!">Thanks</a></li>

      </ul>
    </div>
  </div>
</nav>

