
/* in CSS3 prevent centering jumps on short pages */
html {
  overflow-y: scroll;
}

/*
 * insert the miniature hipster mascott dude before #foot in specific place
 * so it looks like the content is directly above the transparent image
 */
#foot:before{
  content:"";
  /* margin-top:-2.5em;
  padding-bottom:-8.4em; */
  margin:0;
  margin-top:-3.5em;
  margin-bottom:-3.5em;
  padding:0;
  /* bottom:0; */
  /* left:0;
  bottom:0; */
  display:block;
  height:9em !important;
  width:15em;
 background: transparent url('/public/images/mh-logo-test-small.png');
 background-size:8em auto;
 background-repeat:no-repeat;
 background-position:left;


}
/* contstrain the size of the jumbo */
.container .jumbotron {

  max-width: 40em !important;

}
/* center the jumbotron things */
.jumbotron p,
.jumbotron-buttons {
  text-align:justify !important;/* center; */

}

.show-off{
max-height:28em;

}
body {
  /* for scrollspy */
  position:relative;

  /*  padding-bottom: 70px; */

  background-color: yellow;

/*
   background-image:url(http://www.zingerbugimages.com/backgrounds/blue_and_pink_pastel_plaid.jpg);

 */
/* so i made some plaid :D
 *
 * <http://plaidmaker.com/plaid/3972/>
 * <http://plaidmaker.com/plaid/3973/>
 */
background-image:url(/public/images/bg/plaid-2.png);
   background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;

}


div#menu {

}
.none {

  text-decoration:none;
  color:inherit;

}

ul, ol {
  padding-left:1em;
  text-align: left;
}

span {
  display:inline !important;

}

a.navbar-brand  {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  text-decoration:none;
  color:inherit;

  /* indiscriminantly large number */
  width:38em;
}

.jumbotron {
  /* text-align:center; */
}
  .row p
  {
text-align:justify;
}

header h1  {
  text-transform:uppercase;
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
  color: #303030;
  line-height: 1.2;

  /* 10em on large, but shrink it more, 6em is width of small */
  /* force the h1 to wrap lines */
  /*  max-width: 6em; */
  /* text-align:center; */
}

header h1 small {
  /* force the small part to be on it's own line */
  display:block;
  /* text-align:center; */
}

header h1 small a {
  text-decoration:none;
  color:inherit;

}

/*
 .tip-jar-right, 
 header img,
 #jumbotron < img {
 float:right;
}
*/

#menu nav.navbar,
#foot nav.navbar {

  /* make the navbar background transparent */

  /* background-color: transparent; */
}


h1, h2, h3, h4, h5, h6 {
  a {
    color:inherit;
    text-decoration:none;
  }
}

code {
}

/*
 * make the footer transparent a bit
 */
#foot {
  opacity: 0.75 !important;
  filter: alpha(opacity=75) !important;
}

/* on hover show it 100%
 */
#foot:hover {

  opacity: 1 !important;
  filter: alpha(opacity=100) !important;

}

/* center things  badly */
.center {
  text-align:center;

}
#foot #author,
#foot #license,
#foot #copyright {
  /*  float:right; */
  text-align:center;
}

#foot #author a {
font-weight:900;
}

.px-social {
  text-align:center;
}

.px-social 
ul { display:inline;}
.px-social
iframe { border:0; }


blockquote {

}




/* Social proof buttons from GitHub & Twitter */
.px-EFF, .px-EFF:hover {
  text-decoration:none;
  background-color: black;
  color:red;

}
.px-social {
  margin-bottom: 20px;
}
.px-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.px-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.px-social-buttons li + li {
  margin-left: 15px;
}
.px-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.px-social-buttons .twitter-share-button {
  width: 98px !important;
}
#author .activism {
width: 18em !important;
}
/* Style the GitHub buttons via CSS instead of inline attributes */
.github-btn {
  border: 0;
  overflow: hidden;
}


/* #Media Queries
 * ================================================== */

@media only screen and (min-width:969px) {

  .container, .content {
    max-width:52em !important;
  }

  .jumbotron p {
    max-width:36em;
  }

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {



}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {



}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* set max-width of paragraphs */
 1p {
    max-width:22em;
  }
  code { display:none; }
  .row p
  {
text-align:justify;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  code { display:none; }

  .row p
  {
text-align:justify;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


}
