<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>

    {% include head.html %}

  </head>

  <body class="">

    <div id="menu" class="" >
      {% include menu.html %}
    </div>

    <div id="content" class="well" >
      <div class="">
      {{content}}
      </div>
    </div>

    <div id="foot" class="" >
      {% include foot.html %}
    </div>

    <div id="scripts" class="" >
      {% include js/javascripts.html %}
    </div>

  </body>
</html>
