<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>

    {% include head.html %}

  </head>

  <body class="">

    <div id="menu" class="container" >
      {% include menu.html %}
    </div>

    <div id="content" class="container" >
      <div id="jumbotron" class="jumbotron">
        <div id="" class="superhero content container">
          {{content}}
        </div>
      </div>
    </div>

    <div id="foot" class="container" >
      {% include foot.html %}
    </div>

    <div id="tracking" class="container" >
      {% include tracking.html %}
    </div>

  </body>
</html>
